.container {
  display: flex;
  justify-content: center;
}


.animalerie {
    width: 540px;
    border-style: solid;
    border-radius: 10px;
    padding: 0px;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

.lower {
  background-color: grey;
  font-size: 20px;
}

.main {
  background-color: red;
  font-size: 30px;
  }

.head {
  color: white;
  text-align: center;
}

.appRow {
  flex: 1 100%;
}

form {
  margin: 10px;
  width = 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-flow: row wrap;
}

.myButton {
  align-self: center;
}

.radios {
  margin: 10px;
}

.warning {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-style: solid;
  border-color: #f9f040;
  background-color: #f9f040;
  border-radius: 10px;
  margin-bottom: 10px;
}
