{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'animalerie/style.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

{% if animal_list and action_list %}
<div class="container">
    <div class="animalerie">
        <div class="appRow head main">
            Bienvenue à l'animalerie
        </div>
        <div class="appRow head lower">
            Tableau de bord
        </div>
        <div class="appRow">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">nom</th>
                  <th scope="col">race</th>
                  <th scope="col">type</th>
                  <th scope="col">état</th>
                  <th scope="col">lieu</th>
                </tr>
              </thead>
              <tbody>
                {% for animal in animal_list %}
                <tr>
                  <td>{{ animal.animal }}</td>
                  <td>{{ animal.race }}</td>
                  <td>{{ animal.type }}</td>
                  <td>{{ animal.get_etat_display }}</td>
                  <td>{{ animal.lieu.get_lieu_display }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        <div class="appRow head lower">
            Actions
        </div>
        <div class="appRow">
            <form action="{% url 'animalerie:controller' %}" method="post">
            {% csrf_token %}
            <div class="appRow">
              <div class="form-row">
                <div class="col">
                  <fieldset class="form-group subradios">
                    <div class="row">
                      <legend class="col-form-label col-sm-3 pt-0">Animal</legend>
                      <div class="col-sm-10">
                        {% for animal in animal_list %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="animal" id="Radio{{ animal.animal }}" value="{{ animal.animal }}">
                                <label class="form-check-label" for="Radio{{ animal.animal }}">
                                    {{ animal.animal }}
                                </label>
                            </div>
                        {% endfor %}
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="col">
                  <fieldset class="form-group subradios">
                    <div class="row">
                      <legend class="col-form-label col-sm-3 pt-0">Action</legend>
                      <div class="col-sm-10">
                        {% for actions in action_list %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="action" id="{{ actions }}Radio" value="{{ actions }}">
                                <label class="form-check-label" for="{{ actions }}Radio">
                                    {{ actions }}
                                </label>
                            </div>
                        {% endfor %}
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
              {% if error_message %}<div class="appRow warning"><strong>{{ error_message }}</strong></div>{% endif %}
            </div>
                <div class="form-group row myButton">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Go!</button>
                </div>
                </div>
            </form>
        </div>

    </div>
{% else %}
    <p>No animals or actions available.</p>
{% endif %}
</div>
